---
import Layout from '../layouts/Layout.astro';
// <!-- pubDate={new Date('August 08 2021')} -->
// heroImage="/hal2.jpg"
// keywords="Historical fiction, tall tales, Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
// 	canonicalURL="https://astro-simple-starter.netlify.app/"
// 	robots="index, follow"
---

<Layout
	title="Is your Parenting Wrecked by Digital Distractions"
	description="Migrated my GatsbyJS blog to Astro Web Framework."

>
	<h1>Parenting Treasure Map Coaching</h1>
	<p>
		A personalized plan with step-by-step instructions for reaching your Parenting goals
	</p>

	<h2>Is your Parenting Distracted?</h2>

	<h2>Is your Parenting Distracted by Digital drugs?</h2>

	<h2>Are Digital Distractions Wrecking your Parenting?</h2>

	<h2>Is your Parenting Wrecked by Digital Distractions?</h2>
	<p>
		Unfocused, Staying aware, angry
		You know you need to make a change but you’re paralyzed by uncertainty..
	</p>

	<h2>Imagine your Parenting Refocused</h2>

	<h2>Imagine yourself Refocused in your Parenting</h2>

	<h2>Imagine Knowing How To Refocus on your Parenting away from Digital Distractions</h2>
	<p>
		Imagine going back in time, when you were focused and in control of your own emotions and ...
		Imagine seeing those familiar old problems disappearing in the rear-view mirror. Imagine having the confidence to act decisively on....
	</p>

	<h2>Get A Personalized Parenting Planning Session with a Seasoned Dev Dad</h2>

	<h2>Get A prioritizing Parenting Planning Session with a Seasoned Dev Dad</h2>

	<h2>Get A Personalized Parenting Plan From A Seasoned Dev Dad</h2>
	<p>
		Get Unstuck – Often all it takes to get unstuck is to talk to the right person at the right time. Put the analysis paralysis behind you. Learn exactly what to do next. Book a live 1-on-1 roadmapping session with me now. Why?

		I’ve been a dad for more than 10 years
		I have delivered 100+ hours of coaching to folks just like you
		I have been a digital druggie, but now I'm clean.
	</p>


	<h3>Here’s How It Works:</h3>
	<p>Within a week, I will deliver a personalized, specific, step-by-step instructions for reaching your goals in a treasure map report.</p>


	<h2>Ready To Get Started in the right direction?</h2>

	<h2>Ready To Get Started?</h2>
	<p>
		Morbi semper gravida non platea dictumst massa massa mi.
	</p>

	<p>
		Morbi semper gravida non platea dictumst massa massa mi.	</p>

	<p>
		Morbi semper gravida non platea dictumst massa massa mi.
	</p>

	<p>
		Tempus Morbi semper gravida non platea dictumst massa massa mi. praesent tristique magna.
	</p>
</Layout>
