---
// @ts-ignore

import BaseLayout from "../layouts/BaseLayout.astro";

import Title from "../components/Title.astro";
import Hero from "../components/Hero.astro";

import SearchBar from "../components/SearchBar.astro";
import LatestCard from "../components/LatestCard.astro";

import BigBoyStarReviewCard from "../components/BigBoyStarReviewCard.astro";
import CategoryCard from "../components/CategoryCard.astro";

import Ad from "../components/Ad.astro";
import ReviewCard from "../components/ReviewCard.astro";

import BestReviewsCategories from "../components/BestReviewsCategories.astro";
import LocationBestReviews from "../components/LocationBestReviews.astro";

const seneste = {
  name: "Color Filter",
  text: "Latest Loot",
  href: "#",
  image: {
    filename:
      "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
    alt: "your alt",
  },
};

const starReviews = [
  {
    meal: "Morning",
    title: "Routines",
    stars: 5,
    city: "",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
  {
    meal: "Mid Day",
    title: "Routines",
    stars: 4.5,
    city: "",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
  {
    meal: "Night",
    title: "Routines",
    stars: 5,
    city: "",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
];

const categories = [
  {
    name: "Morning",
    href: "#",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
  },
  {
    name: "Mid Day",
    href: "#",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
  },
  {
    name: "Night",
    href: "#",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
  },
];

const ad = {
  href: "#",
  adText: "Display Ad 2650 x 500",
  image: {
    filename:
      "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
    alt: "your alt",
  },
};

const reviews = [
  {
    title: "Screen Time",
    stars: 5,
    description: "This trick has the .",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
  {
    title: "The Old Nokia",
    stars: 4,
    description: "This trick has the.",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
  {
    title: "Meditate",
    stars: 3,
    description: "This trick has the.",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
  {
    title: "Decaf",
    stars: 2,
    description: "This trick has the .",
    image: {
      filename:
        "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
      alt: "your alt",
    },
    href: "#",
  },
];

const bestReviewsCategoryCardContent = [
  {
    name: "Anti-Addiction",
    href: "#",
  },
  {
    name: "Mobile Phones",
    href: "#",
  },
  {
    name: "Meditate",
    href: "#",
  },
  {
    name: "Coffee, Decaf and sleep",
    href: "#",
  },
  {
    name: "Creating",
    href: "#",
  },
  {
    name: "Dev",
    href: "#",
  },
  {
    name: "Eating",
    href: "#",
  },
  {
    name: "Reading",
    href: "#",
  },
  {
    name: "Skill-Building",
    href: "#",
  },
  {
    name: "Training",
    href: "#",
  },
  {
    name: "Broh",
    href: "#",
  },
  {
    name: "Broh",
    href: "#",
  },
  {
    name: "Broh",
    href: "#",
  },
  {
    name: "Bad Tips and Evil Science",
    href: "#",
  },
];

const locationBestReviewsCard = [
  {
    name: "0-3",
    href: "#",
  },
  {
    name: "3-6",
    href: "#",
  },
  {
    name: "6-9",
    href: "#",
  },
  {
    name: "9-13",
    href: "#",
  },
];
---

<BaseLayout title="Demo">
  <main class="flex bg-yellow-300 flex-col gap-16 [&>*]:px-8 md:[&>*]:px-16">
    <header class="-mx-8 md:-mx-16">
      <Title
        text="Dev Pirates On Rehab"
        element="h1"
        variant="display"
        class="mb-6 text-center"
      />
      <Hero
        text="A Treasure Hunt for skill-building, creating, parenting and beating your addiction."
        image={{
          filename:
            "https://plus.unsplash.com/premium_photo-1673108852141-e8c3c22a4a22",
          alt: "your alt",
        }}
        ctas={[
          {
            label: "All reviews",
            href: "/reviews",
          },
        ]}
      />
    </header>

    <section class="bg-yellow-300 p-3">
      <SearchBar placeholder="Search" />
    </section>

    <section>
      <LatestCard {...seneste} />
    </section>

    <section class="bg-orange-400">
      <h1 class="mb-8 font-bold text-4xl text-center text-white">
        The Dev Pirate's Best Summaries
      </h1>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        {
          starReviews.map((starReview) => (
            <BigBoyStarReviewCard {...starReview} />
          ))
        }
      </div>
    </section>

    <section>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {categories.map((category) => <CategoryCard {...category} />)}
      </div>
    </section>

    <section class="bg-orange-400 text-white p-3">
      <Ad {...ad} />
    </section>

    <section class="bg-yellow-400 p-3">
      <Title
        text="The Latest Dev Pirates Reviews"
        element="h2"
        variant="large"
        class="mb-8 text-center"
      />
      <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
        {reviews.map((review) => <ReviewCard {...review} />)}
      </div>
    </section>

    <section class="bg-yellow-300">
      <Title
        text="The Dev Pirate's Categories"
        element="h2"
        variant="large"
        class="mb-8 text-center"
      />
      <div>
        {
          bestReviewsCategoryCardContent.map((bestRevCat) => (
            <BestReviewsCategories {...bestRevCat} />
          ))
        }
      </div>
    </section>

    <section class="bg-yellow-300">
      <Title
        text="The Dev Pirate's Parenting Tips By Age"
        element="h2"
        variant="large"
        class="mb-8 text-center"
      />
      <div>
        {
          locationBestReviewsCard.map((location) => (
            <LocationBestReviews {...location} />
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
