---
import Layout from '../layouts/Layout.astro';
// <!-- pubDate={new Date('August 08 2021')} -->
// heroImage="/hal2.jpg"
// keywords="Historical fiction, tall tales, Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
// 	canonicalURL="https://astro-simple-starter.netlify.app/"
// 	robots="index, follow"
---

<Layout
	title="Is your Parenting Wrecked by Digital Distractions"
	description="Migrated my GatsbyJS blog to Astro Web Framework."

>
	<h1>Parenting Treasure Map Coaching </h1>
	<p>
		A personalized plan with step-by-step instructions for reaching your Parenting goals
	</p>



	<h2>Has your Parenting become more Distracted?</h2>

	<h2>Is your Parenting Distracted?</h2>

	<p>
		Your parenting skill-building is stuck. You feel like you’re on a hamster wheel. You’re working harder than ever but not getting ahead. You’re facing the same problems over and over again. You know you need to make a change but you’re paralyzed by uncertainty.
		
		You’ve tried to educate yourself about how to get your parenting out of this rut. You’ve read parenting articles, you’ve listened to parenting podcasts. You’ve maybe even read parenting books – but you can’t figure out how to apply any of it to your parenting.
		
	</p>

	<h2>Imagine Knowing How to Refocus your Parenting</h2>

	<p>
		Imagine this – Imagine being off the hamster wheel. Imagine parenting with confidence, not emotion. Imagine seeing those familiar old problems disappearing in the rear-view mirror. 
		Imagine having the confidence to act decisively in your parenting.
	</p>

	<h2>Get A Personalized Parenting Planning Session with a Seasoned Dev Dad</h2>

	<h2>Get A prioritizing Parenting Planning Session with a Seasoned Dev Dad</h2>

	<h2>Get A Personalized Parenting Plan From A Seasoned Dev Dad</h2>
	<p>
		Get Unstuck – Sometimes what's best to get unstuck is to talk to the right person at the right time. About YOUR situation, your personality and YOUR parenting goals. Put the analysis paralysis behind you. Learn exactly what to you can and cannot do next. Book a live 1-on-1 treasuremapping session with me now. Why?

		I’ve been a dad for more than 10 years
		I have delivered 100+ hours of coaching to folks just like you
		I am a dev like you
		I have been a digital druggie, but now I'm clean.
	</p>

	<h3>Here’s How It Works:</h3>

	<p>
		Our roadmapping session will take place over Zoom. Calls typically take 60-90 minutes, but we’ll block out 2 hours just in case. You are welcome to record the call for future reference.

		On our call, we first define the current state of your parenting. Get a grip on your personality type. Then we identify your parenting goals and the road blocks preventing you from reaching them. Finally, we agree to a set of tactics that fit your personality and family.
	</p>

	<h2>Ready To take the first step in the right direction?</h2>

	<h2>Ready To Get Started?</h2>
	<p>
		Are you ready to take your parenting back in time to when you felt in control? Great! Apply for your roadmapping session by clicking the button below. The price is $1,295.00, which distinguishes those who are serious about their business, and is easily recouped through increased business and/or higher fees.
		prioritizing. first step. One thing to focus on. nail it. next thing. 
	</p>

	<p>Morbi </p>

	<p>
		Morbi semper 
	</p>

	<p>
		Tempus Morbi semper gravida non platea.
	</p>
</Layout>
