---
import Layout from '../layouts/Layout.astro';
// <!-- pubDate={new Date('August 08 2021')} -->
// heroImage="/hal2.jpg"
// keywords="Historical fiction, tall tales, Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
// 	canonicalURL="https://astro-simple-starter.netlify.app/"
// 	robots="index, follow"
---

<Layout
	title="Is your Parenting Wrecked by Digital Distractions"
	description="Migrated my GatsbyJS blog to Astro Web Framework."

>
	<h1>Parenting Treasure Map 🗺️</h1>

	<p>
		A personalized session to refocus your Parenting style
	</p>

	<h2>Digital “Drugs" are Distracting your Parenting </h2>

	<p>
		Digital Distractions are wrecking Your parenting.
		It's not just while
		you're online, the Digital “Drugs" stay with you, 
		in your mind and in your heart. 
		Screwing with Your parenting, making you less you.


		You know you need to make a change, but doing WHAT? 
		
	</p>

		
	<p>
		You’ve tried to educate yourself about how to get your parenting out of this rut. You’ve read parenting articles, you’ve listened to parenting podcasts. You’ve maybe even read parenting books – but you can’t figure out how to Refocus your parenting.
	</p>

	<h2>Imagine Knowing Exactly What To Do Next to Refocus your parenting</h2>

	<p>
		Imagine this – Imagine your parenting being Refocused. Imagine observing
		yourself and knowing you're back on track.
		Imagine seeing the difference in your kids behavior and recations.  
		Imagine seeing those familiar old problems disappearing in the rear-view mirror. 
		Imagine having the confidence to act decisively on Refocusing your parenting.
	</p>


	<img 
		src="https://github.com/user-attachments/assets/cd02961f-2293-4924-9db5-797a7bfd1b28"
		class="w-full max-h-[40vh] md:max-h-[50vh] min-h-48 md:min-h-64 relative object-cover object-top"
    
    	alt="croco-pirate paren minus paper boatt"
    />

	<h2>Get A Personalized Parenting Plan From A Seasoned Dev Dad</h2>

	<p>
		Get ReFocused – One way to get ReFocused is to 
		talk to the right person at the right time. 
		Put the anal
		... behind you. Learn exactly what to do next. 
		Book a live 1-on-1 treasuremapping session with me now. Why?
    </p>


	<ul>
		<li>I’ve been a dad for more than 10 years, I feel your pain</li>
		<li>I have delivered 100+ hours of coaching to folks like you</li>
		<li>I am a dev like you</li>
		<li>I am a digital druggie, but my parenting game is Focused.</li>
	</ul>


	<h3>Here’s How It Works:</h3>

	<p>		
		Our treasuremapping session will take place over Zoom. Calls typically take 60-90 minutes, but we’ll block out 2 hours just in case. You are welcome to record the call for future reference.

		On our call, we first define the current state of your parenting. 
		
		Then we identify your parenting goals and the road blocks preventing you from reaching them.
		
		After that we get a grip on your personality type and how you can leverage your strengths in parenting. 
		During our call I will tak notes in a bullet point list.
		Then we'll go through that list and give each bullet a numbered priority.
		There can only be ONE number one priority on your parenting list. 
		This is the skill you'll focus on building. Yeah I know 
		I haven't talked about skill-building before now, but that is what you'll be doing.
		This whole parenting thing boils down to two things:
	</p>
	
	</ul>
		<li>Picking ONE parenting skill and </li>
		<li>Using scentifically proven methods building that ONE parenting skill.</li>
		
	</ul>

	<p>
		Since you're a Developer many of these methods will be familiar to you, but
		the key is sticking those methods and more importantly STICKING to your ONE parenting skill.
		Because the most scentifically significant method of skill-building is sticking to your ONE parenting skill over time.
		Do you see now how this reFocused Parenting can be doable for you? Prioritizing a list and building a skill, this is 
		NOT Rocket Surgery is it?! You've got this! 
	</p>			

	<p>
		And it's easier for me to see what is less important in your parenting, because I'm not YOU. I'm not involved, I'm just listening to you.
		 usually we end up with a handful of
		priorities and it comes down to a choice, made by you. But because I'm there with you, you'll make that choice
		come out in the other end with One parenting skill and One first step to build that skill.
		You'll also have your list of road blocks and distractions and the signs to look for 
		to stay away from them
		Put the Distractions behind you. Learn exactly what your next step is. Book a live 1-on-1 treasuremapping session with me now. Why?
	</p>

	<p>
		Get ReFocused – It's hard to Focus on more than One thing. But How do you 
		KNOW what ONE parenting thing to focus on?
		
		8 step
		from a Seasoned Dev Dad
	</p>

	<p>
		One way to get ReFocused is to talk to the right person at the right time. About your situation, YOUR personality, your kid and YOUR parenting goals.
		It sounds complex. To you, but to ME it comes down to only one list of priorities in your life. 
		And I say "Only ONE Priority Can Be Number 1". That number 1 priority is where you'll
		get your parenting ReFocused. 
	</p>

	<p>
 Finally, we agree to a set of tactics that fit your personality and family.
		First steps Let go Get
		Every unfocused family is different
	</p>

	<h2>Ready To take the first step in the right direction?</h2>

	<h2>Ready To Get Started?</h2>
	<p>
		Are you ready to take your parenting back in time to when you felt in control? Great! Apply for your roadmapping session by clicking the button below. The price is $1,295.00, which distinguishes those who are serious about their business, and is easily recouped through increased business and/or higher fees.
		prioritizing. first step. One thing to focus on. nail it. next thing. 
	</p>

	<img 
		src="https://github.com/user-attachments/assets/cd02961f-2293-4924-9db5-797a7bfd1b28"
		class="w-full max-h-[40vh] md:max-h-[50vh] min-h-48 md:min-h-64 relative object-cover object-top"
    
    	alt="croco-pirate parent"
    />
	<p>Morbi </p>

	<p>
		Morbi semper 
	</p>

	<p>
		Tempus Morbi semper gravida non platea.
	</p>
</Layout>
