---
import Layout from '../layouts/Layout.astro';
// <!-- pubDate={new Date('August 08 2021')} -->
// heroImage="/hal2.jpg"
// keywords="Historical fiction, tall tales, Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
// 	canonicalURL="https://astro-simple-starter.netlify.app/"
// 	robots="index, follow"
---

<Layout
	title="Is your Parenting Wrecked by Digital Distractions"
	description="Migrated my GatsbyJS blog to Astro Web Framework."

>
	<h1>Anti Addict Treasure Map 🗺️ </h1>

	<p>
		A personalized 1-on-1 session to refocus your Parenting style
	</p>
	<br />

	<h2>Digital “Drugs" are Distracting your Parenting </h2>

	<p>
		Digital Distractions are wrecking Your parenting.
		It's not just while
		you're online, the Digital “Drugs" stay with you, 
		in your mind and in your heart. 
		Screwing with Your parenting, making you less you.


		You know you need to make a change, but doing WHAT? 
		
	</p>

		
	<p>
		You’ve tried to educate yourself about how to get your parenting out of this rut. You’ve read parenting articles, you’ve listened to parenting podcasts. You’ve maybe even read a parenting book – but you can’t figure out how to Refocus your parenting.
	</p>
	<br />
	<h2>Imagine Knowing Exactly What To Do Next to Refocus your parenting</h2>

	<p>
		Imagine this – Imagine yourself Refocused while parenting. Imagine observing
		yourself and knowing you're Back On Track.
		Imagine seeing the difference in your kids behavior.  
		Imagine seeing those familiar old problems disappearing in the rear-view mirror. 
		Imagine having the confidence to act decisively on Refocusing your parenting.
	</p>


	<img 
		src="https://github.com/user-attachments/assets/cd02961f-2293-4924-9db5-797a7bfd1b28"
		class="w-full max-h-[40vh] md:max-h-[50vh] min-h-48 md:min-h-64 relative object-cover object-top"
    
    	alt="croco-pirate parent (minus paper boat and yellow background, but with new skull)"
    />

	<h2>Get A Personalized Parenting Plan From A Seasoned Dev Dad</h2>

	<p>
		Get ReFocused – One way to get ReFocused is to 
		talk to the right person at the right time. 
		Your situation is unique, but it's easier to spot what a good next step could be looking on from the outside.
		Imagine your parenting as a bottle. It's easier to read the label from the outside than looking out from the inside.
		Learn exactly what your next steps are. 
		Book a live 1-on-1 treasuremapping session with me now. Why?
		
    </p>


	<ul>
		<li>I’ve been a dad for more than 10 years, I feel your pain</li>
		<li>I have delivered 100+ hours of coaching to folks like you</li>
		<li>I am a dev like you</li>
		<li>I am a digital druggie, but my parenting game is Focused.</li>
	</ul>
	<br />

	<h3>Here’s How It Works:</h3>

	<p>		
		Our treasuremapping session will take place over Zoom. Calls typically take 60-90 minutes, but we’ll block out 2 hours just in case. You are welcome to record the call for future reference.

		On our call, we first define the current state of your parenting. 
		
		Then we identify your parenting goals and the road blocks preventing you from reaching them.
		
		After that we get a grip on your personality type and how you can leverage your strengths in parenting. 
		During our call I will tak notes in a bullet point list.
		Then we'll go through that list and give each bullet a numbered priority.
		There can only be ONE number one priority on your parenting list. 
		This is the skill you'll focus on building. Yeah I know 
		I haven't talked about skill-building before now, but that is what you'll be doing.
		This whole parenting thing boils down to two things:
	</p>
	
	</ul>
		<li>Picking ONE parenting skill and </li>
		<li>Using scentifically proven methods building that ONE parenting skill.</li>
	</ul>
	<br />
	<p>
		Since you're a Developer many of these skill-building methods will be familiar to you, but
		the key is sticking those methods and more importantly STICKING to your ONE parenting skill.
		Because the most method of skill-building that scentifically shows most significant results is sticking to ONE skill over time.
		Do you see now how this reFocused Parenting can be doable for you? Prioritizing a list and building a skill, this is 
		NOT Rocket Surgery is it?! You've got this! 
	</p>			

	<p>
		Usually we end up with a handful of
		priorities and it comes down to a choice, made by you. But because I'm there with you, you'll 
		come out in the other end with 
	</p>

	</ul>
		<li>One parenting skill and </li>
		<li>One first step to build that skill.</li>
	</ul>
	<br />
	<p>
		You'll also have your list of:
	</p> 
	
	</ul>
		<li>road blocks and distractions and the signs to look for</li> 
		<li>to stay away from them.</li>
		
	</ul>
	<br />
		
	


	

	<h2>Ready To Get Started? 🚀</h2>
	<p>
		Are you ready to refocus your parenting? Great! Book your roadmapping session by clicking the button below. The price is $90.00, which distinguishes those who are serious about their parenting.
		
	</p>

	<img 
		src="https://github.com/user-attachments/assets/cd02961f-2293-4924-9db5-797a7bfd1b28"
		class="w-full max-h-[40vh] md:max-h-[50vh] min-h-48 md:min-h-64 relative object-cover object-top"
    
    	alt="croco-pirate parent"
    />
	
</Layout>
