---
 import Layout from "../layouts/Layout.astro";
---
<Layout>
    <!-- <div class="p-20">
    <h2 class="mb-4">Spacing section</h2>
    <p class="mb-4">Spacing out yo</p>

    <button class="mr-4 p-2 px-4">bro</button>
    <button class="py-2 px-8">Sign Up</button>
    </div> -->
    <!-- background, borders, rounding, shadows -->
    <!-- <div class="p-20 rounded-lg border-8 border-red-300 bg-gradient-to-b from-yellow-400 to-yellow-200 shadow-2xl">
        <h2>Box Properties</h2>
        <div>I am a box</div>
    </div> -->

    <!-- 16 is twice as much as 8 -->

    <!-- <div class="py-20 px-10 bg-gradient-to-b to-yellow-300 from-orange-400">
        <button class="mb-4 p-4 bg-green-400 rounded w-8">click me</button>
        <button class="mb-4 p-4 bg-green-400 rounded w-12">click me</button>
        <button class="mb-4 p-4 bg-green-400 rounded w-20">click me</button>
        <button class="mb-4 p-4 bg-green-400 rounded w-32">click me</button>
        <button class="mb-4 p-4 bg-green-400 rounded w-48 h-48">click me</button>


    </div> -->

        <!-- Typho -->

        <div class="p-20">
            <h2 class="mb-2">t is fun</h2>
            
            <h3 class="mb-8 ">cupcake</h3>
            
            <p class="mb-8 text-xl leading-snug">Muffin apple pie oat cake dragée lemon drops.</p>

            <p class="mb-8 text-xl">Candy biscuit biscuit cheesecake.</p>

            <p class="mb-8 text-xl">Jelly beans cookie marzipan  cheesecake.</p>
            <p class="mb-8 text-xl">Jelly beans donut sesame  cheesecake.</p>
            <p class="mb-8 text-xl">Croissant lemon drops apple  cheesecake.</p>

            </div>
        <!-- Typho -->


        <!-- Typho -->


        <!-- Typho -->


        <!-- Typho -->


        <!-- Typho -->



        <!-- Typho -->

</Layout>