---
interface Props {
  href: string;
  adText: string;
  image: {
    filename: string;
    alt: string;
  };
}

const { href, adText, image } = Astro.props;
---

<article class="bg-yellow-400 text-white p-3">
  <a href={href}>
    {
      image ? (
        <img
          class="max-h-7 w-full object-cover"
          src={image.filename}
          alt={image.alt}
        />
      ) : (
        <div class="aspect-[4/3] bg-gray-300" />
      )
    }
    <div
      class="flex font-bold items-center m-10 border-gray-100 rounded shadow-lg p-3"
    >
      <p>{adText}</p>
    </div>
  </a>
</article>
