---
interface Props {
  name: string;
  href: string;
}
const { href, name } = Astro.props;
---

<div>
  <div
    class="mb-3 hover:bg-green-400 bg-cyan-400 justify-center flex rounded-full border-2 border-green-400 overflow-hidden max-w-md mx-auto"
  >
    <a href={href}>{name}</a>
  </div>
</div>
