---
interface Props {
  name: string;
  href: string;
}
const { href, name } = Astro.props;
---

<div>
  <div
    class="mb-3 bg-pink-500 hover:bg-red-600 justify-center flex rounded-full border-2 border-red-600 overflow-hidden max-w-md mx-auto"
  >
    <a href={href}>{name}</a>
  </div>
</div>
