---
const { href, name } = Astro.props;
---

<div class="bg-white">
  <div
    class="mb-3 justify-center flex rounded-full border-2 border-darkred overflow-hidden max-w-md mx-auto"
  >
    <a href={href}>{name}</a>
  </div>
</div>
