---
import { Image } from 'astro:assets';
import Hal from '../images/hal.png'

---

<footer class="bg-purple-100">
    <section class="max-w-xl mx-auto p-8">
        <p>

                <a href="/" title="olavea.com">
                    <Image src={Hal}  alt="A logo sitting on a nest of eggs." />
                </a>

        </p>
    </section>
</footer>
<style>

</style>