---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import Hal from "../images/hal.png";
---

<header class="bg-yellow-400 p-3">
  <nav class="flex bg-yellow-400 p-4">
    <div class="max-w-xl mx-auto">
      <i class="icon">
        <a href="/" title="olavea.com">
          <Image src={Hal} alt="A logo sitting on a nest of eggs." />
        </a>
      </i>
    </div>

    <div class="internal-links max-w-xl mx-auto hover:underline font-bold">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>
  </nav>
</header>
