---
import { Image } from 'astro:assets';
import Hal from '../images/hal.png'

---

<nav class="bg-slate-50 p-4">
    <i class="icon">
        <a href="/" title="olavea.com">
            <Image src={Hal}  alt="A logo sitting on a nest of eggs." />
        </a>
    </i>

</nav>
<style>

</style>