---
import type { CollectionEntry } from "astro:content";
// import FormattedDate from '../components/FormattedDate.astro';
// keywords, canonicalURL, robots
// type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, photo } = Astro.props;

// COMPONENTS
import Nav from "../components/Nav.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <!-- From 👑 Raae -->
    <script is:inline>
      var o_options = {
          domain: 'olavea.outseta.com',
          load: 'auth,customForm,emailList,leadCapture,nocode,profile,support'
      };
    </script>
    <script src="https://cdn.outseta.com/outseta.min.js"
            data-options="o_options">
    </script>
  </head>

  <body
    class="bg-gradient-to-br from-yellow-400 to-yellow-200 lg:p-10 lg:pb-10"
  >
    <div class="sticky top-0 opacity-95"><Header /></div>
    <main>
      <article class="p-4">
        <div class="prose">
          <slot />
        </div>
        <div class="hero-image">
          {photo && <img width={1020} height={510} src={photo} alt="" />}
        </div>
      </article>
    </main>
    <Footer />
    <style is:global>
      /* GOOGLE FONTS */
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

      html {
        font-family: "Open Sans", sans-serif;
        @apply text-slate-900;
      }

      h1 {
        @apply text-5xl tracking-tight font-black text-purple-900 py-2;
      }

      h2 {
        @apply text-4xl tracking-tight font-black text-red-600  py-4;
      }

      h3 {
        @apply text-2xl tracking-tight font-black text-red-600;
      }

      h4 {
        @apply no-underline text-2xl tracking-tight font-black text-purple-900;
      }

      p {
        @apply text-lg py-2;
      }

      li {
        @apply text-lg list-disc;
      }

      a {
        @apply text-purple-800 font-medium underline underline-offset-4 break-words;
      }
    </style>
  </body>
</html>
